.hero-section {
  margin-top: 65px;
}

.Name {
  position: absolute;
  color: white;
  top: 240px;
  right: 35px;
  text-align: center;
  font-size: 62px;
}

.heroParagraph {
  position: absolute;
  color: white;
  top: 330px;
  right: 70px;
  text-align: center;
  letter-spacing: 2px;
}

.main-model-image {
  height: auto;
  width: 100%;

  // ? Properties added 19/4/2022
  object-fit: fill;
  max-height: 100%;
}

@media screen and (max-width: 980px) {
  /* Hero Section */

  .Name {
    top: 190px;
    right: 35px;
    font-size: 40px;
  }

  .heroParagraph {
    top: 259px;
    right: 26px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 768px) {
  .main-model-image {
    height: 100%;
    width: 100%;
  }

  .Name {
    top: 130px;
    right: 35px;
    font-size: 25px;
  }

  .heroParagraph {
    top: 170px;
    right: 30px;
    font-size: 10px;
    letter-spacing: 1px;
  }
}
