.myWork-paragraph {
  font-size: 20px;
}

#cols {
  padding-right: 0;
  padding-left: 0;
}

#model1 {
  height: 100%;
}

#model2 {
  height: 100%;
}

#model3 {
  height: 100%;
}

#model5 {
  height: 100%;
}

.photos {
  // max-height: 800px;
  max-height: fit-content;
}

@media screen and (max-width: 767px) {
  .myWork-text {
    font-size: 25px;
  }

  .myWork-paragraph {
    font-size: 15px;
    padding: 0 50px;
  }

  #cols {
    padding: 15px 60px;
  }

  #col1 {
    padding: 0 60px 15px 60px;
  }

  .photos {
    border: 3px solid black;
    max-height: 625px;
  }
}

@media screen and (min-width: 390px) {
  .photos {
    max-height: none;
  }
}

// ! xs Devices like the galaxy fold

@media screen and (max-width: 300px) {
  .myWork-text {
    font-size: 23px;
  }

  .myWork-paragraph {
    font-size: 13px;
  }
}
