.img-test {
  height: 400px;
}

/* NavBar */

.nav-links {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;
  float: left;
  font-weight: 600;
  border-radius: 10px;
  /* margin-left: 10px; */
}

.nav-icons {
  text-decoration: none;
  color: black;
  padding: 10px;
  float: right;
  border-radius: 10px;
}

.nav-links:hover {
  background-color: #f1f1f1;
}

/* Hero Section */

.hero-section {
  margin-top: 65px;
}

.Name {
  position: absolute;
  color: white;
  top: 240px;
  right: 35px;
  text-align: center;
  font-size: 62px;
}

.heroParagraph {
  position: absolute;
  color: white;
  top: 330px;
  right: 70px;
  text-align: center;
  letter-spacing: 2px;
}

.main-model-image {
  height: auto;
  width: 100%;
}

/* My Work Section */

.myWork-paragraph {
  font-size: 20px;
}

#cols {
  padding-right: 0;
  padding-left: 0;
}

#model2 {
  height: 100%;
}

#model3 {
  height: 100%;
}

#model5 {
  height: 100%;
}

/* About Me Section */

#AboutMe-Container {
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: #f5f5f5;*/
  background-color: #f5f5f5;
  padding-top: 60px;
}

#AboutMe-Photo {
  height: 300px;
  width: auto;
}

.AboutMe-title {
  font-size: 45px;
  font-weight: 600;
  /* padding-left: 10px; */
}

.AboutMe-subtitle {
  font-size: 23px;
  font-weight: 400;
  font-family: "Lora", serif;
}

.AboutMe-paragraph {
  font-size: 20px;
  letter-spacing: 0.2px;
  font-family: "Lora", serif;
}

/* footer */

#Social-grid {
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

.footer-titles {
  font-size: 25px;
  color: #8c8c8c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer-links {
  font-size: 15px;
  text-decoration: none;
  color: #f1f1f1;
  letter-spacing: 0.5px;
  font-family: Helvetica, Arial, sans-serif;
}

.footer-icon {
  height: 32px;
  width: 32px;
  margin-right: 20px;
  color: #f1f1f1;
}

.footer-icon:hover {
  color: blue;
}

#copy-text {
  font-size: 17px;
  color: #8c8c8c;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* medium Screens */

@media screen and (max-width: 980px) {
  /* Hero Section */

  .Name {
    top: 190px;
    right: 35px;
    font-size: 40px;
  }

  .heroParagraph {
    top: 259px;
    right: 26px;
    letter-spacing: 1px;
  }

  /* footer */

  .footer-icon {
    height: 27px;
    width: 27px;
  }
}

/* Small Screens */

@media screen and (max-width: 768px) {
  /* NavBar */
  .title {
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
  }

  #hamburger {
    font-size: 15px;
  }

  .nav-links {
    font-size: 15px;
    margin: 2px 0;
  }

  /* Hero Section */

  .main-model-image {
    height: 100%;
    width: 100%;
  }

  .Name {
    top: 130px;
    right: 35px;
    font-size: 25px;
  }

  .heroParagraph {
    top: 170px;
    right: 30px;
    font-size: 10px;
    letter-spacing: 1px;
  }

  /* My Work Section */

  .myWork-text {
    font-size: 25px;
  }

  .myWork-paragraph {
    font-size: 15px;
    padding: 0 50px;
  }

  #cols {
    padding: 15px 60px;
  }

  #col1 {
    padding: 0 60px 15px 60px;
  }

  .photos {
    border: 3px solid black;
  }

  /* About Me Section */

  #AboutMe-Photo {
    height: 200px;
    width: auto;
  }

  .AboutMe-title {
    font-size: 32px;
  }

  .AboutMe-subtitle {
    font-size: 18px;
  }

  .AboutMe-paragraph {
    font-size: 16px;
  }

  /* footer */

  #Social-grid {
    justify-content: start;
    align-items: flex-start;
  }

  .footer-icon {
    height: 24px;
    width: 24px;
  }
}

/* xs Devices */

@media screen and (max-width: 480px) {
  body {
    zoom: 0.7;
    -moz-transform: scale(0.7);
    -moz-transform-origin: 0 0;
    /* transform: scale(0.7);
    transform-origin: 0 0; */
  }
}
